
<div id="main-container" class="container">
  <div class="row">
    <div id="content" class="col-xs-12 col-sm-6 col-m-8">
      <h1>Nova Preferência</h1>
      <hr>
      <%= render partial: 'form', locals: { submit_text: 'Criar Preferência' } %>

    </div>
    <div id="sidebar" class="col-xs-6 col-m-4">

    </div>
  </div>
</div>
