<article class="taxonomy-card">
  <p class="eyebrow">Cuisine</p>
  <h3><%= link_to kitchen.name, kitchen %></h3>
  <p><%= pluralize(kitchen.recipes.count, 'recipe') %> in this cuisine.</p>
</article>
