<div id="main-container" class="container">
  <div class="row">
    <div id="content" class="col-xs-12 col-sm-6 col-m-8">
      <%= render @kitchens %>
    </div>
    <div id="sidebar" class="col-xs-6 col-m-4">

    </div>
  </div>
</div>
